* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(95, 86, 86);
    margin: 0;
}

h1 {
    color: white;
    margin-bottom: 2vh;
    font-size: 6vh;
}

container {
    display: flex;
    flex-direction: row;
}

h2 {
    color: rgb(6, 0, 0);
}

.info1 {
    margin-right: 15vh;
}

.info2 {
    margin-left: 15vh;
}

#time {
    position: absolute;
}

#flags {
    position: absolute;
}

table {
    height: 50vh;
    width: 50vh;
    table-layout: fixed;
    border: black solid 1vh;
    margin-top: 2vh;
}

tr {
    height: 4vh;
    width: 4vh;
}

td {
    background-color: rgb(173, 173, 173);
    text-align: center;
    height: 4vh;
    width: 4vh;
}

td:hover {
    background-color: rgb(255, 255, 255);
}

button {
    margin-top: 5vh;
}

img {
    height: 3vh;
    padding-top: 0.5vh;
    pointer-events: none;
}

td:hover {
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
}
button {
    margin-top: 5vh;
    height: 4vh;
    width: 8vh;
    font-size: 1.2vh;
    border-color: black;
    border-radius: 0.5vh;
    border-width: .5vh;
}

.revealed {
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    font-size: 28px;
    font-weight: bold;
}