* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(95, 86, 86);
    margin: 0;
}

h1 {
    color: white;
}

table {
    height: 50vh;
    width: 50vh;
    table-layout: fixed;
    border: black solid 1vh;
}

tr {
    height: 4vh;
    width: 4vh;
}

td {
    background-color: rgb(173, 173, 173);
    text-align: center;
    height: 4vh;
    width: 4vh;
}

td:hover {
    background-color: rgb(255, 255, 255);
}

button {
    margin-top: 5vh;
}

img {
    height: 3vh;
    width: 3vh;
    padding-top: 0.5vh;
}
